<!DOCTYPE html>
<html>
<head>
  <title>Trang chủ</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="#">Trang chủ</a></li>
      <li><a href="#">Quản lý căn hộ</a></li>
      <li><a href="#">Quản lý cư dân</a></li>
      <li><a href="#">Dịch vụ</a></li>
      <li><a href="#">Liên hệ</a></li>
    </ul>
  </nav>
  <div class="header-container">
    <div class="logo">
      <img src="image/kg.jpg" style="max-width: 100%;">
    </div>
  </div>
</header>
<main>
  <section class="hero">
    <div class="hero-container">
      <h1>Quản lý cư dân chung cư</h1>
      <p>Với nhiều năm kinh nghiệm và đội ngũ nhân viên chuyên nghiệp, chúng tôi luôn đem đến những giá trị tốt nhất cho khách hàng</p>
      <a href="#" class="button">Tìm hiểu thêm</a>
    </div>
  </section>
  <section class="services">
    <h2>Dịch vụ </h2>
    <ul>
      <li>
        <img src="image/bv.jpg" alt="Service 1">
        <h3>Bảo vệ và an ninh</h3>
        <p> Dịch vụ bảo vệ và an ninh đảm bảo an toàn cho mọi cư dân chung cư và tài sản...</p>

        <a href="#" class="button">Xem thêm</a>

      </li>
      <li>
        <img src="image/ql.jpg" alt="Service 2">
        <h3>Dịch vụ quản lý</h3>
        <p>Bao gồm các hoạt động quản lý chung, bao gồm thu gom rác thải, duy trì và sửa chữa hạ tầng, và các hoạt động quản lý khác.</p>

        <a href="#" class="button">Xem thêm</a>

      </li>
      <li>
        <img src="image/kvc.jpg" alt="Service 3">
        <h3>Công viên và khu vui chơi</h3>
        <p>Cung cấp không gian để cư dân tận hưởng các hoạt động thể dục thể thao và giúp cải thiện sức khỏe.</p>
        <a href="#" class="button">Xem thêm</a>

      </li>
    </ul>
  </section>
  <section class="about">
    <h2>Tin tức - Sự kiện</h2>
    <div class="col-md-6">
      <ul class="footer-nav">
        <li><a href="/">Thông báo chung</a></li>
        <li><a href="/about">Tin nội bộ</a></li>
        <li><a href="/privacy-policy">Tin sự kiện</a></li>
        <li><a href="/terms-of-use">Kỹ thuật - Chuyên ngành</a></li>
      </ul>
    </div>
  </section>
  <section class="contact">
  </section>
</main>
<aside class="sidebar">
  <div class="widget">
  </div>
</aside>
<footer>
  <p>Bản quyền © 2023, Công ty ABC</p>
</footer>
</body>
</html>
